{% extends "default-layout.html" %}
{% load static %}
{% block title %}
Product List
{% endblock %}

{% block content %}

<h1>Cart Checkout</h1>
    <div id="cart_list">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% if products %}
        <div>

            <ul class="product_list">
                {% for p in products %}
                <li>
                    <span>
                        {% if p.thumbnail %}
                        <img height='50' src="{{ p.thumbnail.url }}" alt="{{ p.name}}">
                        {% endif %}
                    </span>
                    <span>{{ p.name}}</span>
                    <span>{{ p.price}}</span>
                    <span>
                        {{ p.quantity}}
                    </span>
                    <span>{{ p.amount}}</span>
                </li>
                {% endfor %}
            </ul>
            <div>Total: <strong>{{ total }}</strong></div>
        </div>

    {% else %}
        <p>Không có sản phẩm nào trong giỏ hàng.</p>
        <button type="button" onclick="goHome()">Trang chủ</button>
    {% endif %}
    </div>

    <div id="customer_info">

       {% load form_tags %}

<form class="form" action="/cart/checkout/" method="POST">
    <div id="hidden_fields"></div>
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        <div class="mb-3 {% if field.errors %}has-error{% endif %}">
            {{ field.label_tag }}

            <div class="field_item">
                {{ field }}

                {% if field.help_text %}
                <div id="{{ field.auto_id }}_helptext" class="form-text">
                    {{ field.help_text|safe }}
                </div>
                {% endif %}

                {% if field.errors %}
                <div class="invalid-feedback">
                    {{ field.errors }}
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Đặt hàng</button>
    </div>
</form>
    </div>


    </script>


{% endblock %}
